.input-form > .text {
  display: block;
  font-size: var(--font-size-normal);
  font-weight: var(--font-medium);
  color: var(--black-color);
  margin-bottom: 5px;
}

.input-form > .input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  color: var(--black-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-color);
}

.input-form > .input:focus {
  border-color: transparent;
  outline: 2px solid var(--primary-color);
}

.input-form.-color {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-color);
  overflow: hidden;
}

.input-form.-color > .text {
  margin: 0;
  padding: 9px;
}

.input-form.-color > .color {
  background-color: transparent;
  appearance: none;
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.input-form.-color > .color::-webkit-color-swatch {
  border-radius: 4px;
  border: none;
}

.input-form.-color > .color::-moz-color-swatch {
  border-radius: 4px;
  border: none;
}
