* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 50px 50px 1fr 100px;
  height: 100vh;
  grid-template-areas: 
    "h h"
    "m m"
    "s c"
    "f f";
}

.container > header {
  grid-area: h;
}

.container > nav {
  grid-area: m;
}

.container > aside {
  grid-area: s;
}

.container > main {
  grid-area: c;
}

.container > footer {
  grid-area: f;
}
